.nav-item{
    padding: 1px 1px 1px 1px;
    border-radius: 16px;
    margin-left: 12px;
    background:-webkit-linear-gradient(90deg, rgb(75, 206, 249) 0%, rgb(141, 130, 255) 50%, rgb(110, 93, 255) 80%);
    background:-o-linear-gradient(90deg, rgb(75, 206, 249) 0%, rgb(141, 130, 255) 50%, rgb(110, 93, 255) 80%);
    background:-moz-linear-gradient(90deg, rgb(75, 206, 249) 0%, rgb(141, 130, 255) 50%, rgb(110, 93, 255) 80%);
    background:linear-gradient(90deg, rgb(75, 206, 249) 0%, rgb(141, 130, 255) 50%, rgb(110, 93, 255) 80%);
    background-clip: padding-box;
}

.nav-link{
    text-align: center;
    color: #8d82ff !important;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px 12px 6px 12px !important;
    -webkit-transition: color 1s, background-color 1s;
    transition: color 1s, background-color 1s;
}

.nav-link:hover{
    color: #fff !important;
    background-color: #fff;
    background:-webkit-linear-gradient(90deg, rgb(75, 206, 249) 0%, rgb(141, 130, 255) 50%, rgb(110, 93, 255) 80%);
    background:-o-linear-gradient(90deg, rgb(75, 206, 249) 0%, rgb(141, 130, 255) 50%, rgb(110, 93, 255) 80%);
    background:-moz-linear-gradient(90deg, rgb(75, 206, 249) 0%, rgb(141, 130, 255) 50%, rgb(110, 93, 255) 80%);
    background:linear-gradient(90deg, rgb(75, 206, 249) 0%, rgb(141, 130, 255) 50%, rgb(110, 93, 255) 80%);
    background-clip: padding-box;
}

@media (max-width: 767.98px) {
    .nav-item{
        margin-bottom: 12px;
    }
}